@media (min-width: 860px) {
    .empty {
        content: "";
        display: block;
        height: 787px;
        width: 675px;
        background-image: url('../../assets/hero-image.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 20px;
        z-index: -1;
    }
}

@media (min-width: 1100px) {
    .empty {
        content: "";
        display: block;
        height: 787px;
        width: 675px;
        background-image: url('../../assets/hero-image.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        right: 10%;
        z-index: -1;
    }
}

@media (min-width: 1250px) {
    .empty {
        content: "";
        display: block;
        height: 787px;
        width: 675px;
        background-image: url('../../assets/hero-image.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        right: 18%;
        z-index: -1;
    }
}

@media (min-width: 1440px) {
    .empty {
        content: "";
        display: block;
        height: 787px;
        width: 675px;
        background-image: url('../../assets/hero-image.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        left: 40%;
        color: rgb(227, 97, 97);
        z-index: -1;
    }
}

@media (min-width: 2540px) {
    .empty {
        content: "";
        display: block;
        height: 787px;
        width: 675px;
        background-image: url('../../assets/hero-image.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        left: 43%;
        z-index: -1;
    }
}
