body {
    background-image: url('../../assets/theme-blob.svg'), url('../../assets/bg.jpg');
    background-repeat: no-repeat, repeat-x;
    background-position: right top;
    background-size: auto, cover;
    padding-bottom: 12rem;
}

.App{
    max-width: 1200px;
    margin: 0 auto;
}